<div>
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav-2-d9f2c5a7e3da2e5fa5423cc19ea5a8b5 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #4664A2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav-2-d9f2c5a7e3da2e5fa5423cc19ea5a8b5 a {
    padding: 6px 8px 6px 32px;
      text-decoration: none !important;
      color: #FFFF;;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
}

.sidenav-2-d9f2c5a7e3da2e5fa5423cc19ea5a8b5 a:hover {
    color: ##4664A2;
}

.sidenav-2-d9f2c5a7e3da2e5fa5423cc19ea5a8b5 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.open-6659b527b8d152af596e174303b316a7 {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>

<div id="mySidenav" class="sidenav-2-d9f2c5a7e3da2e5fa5423cc19ea5a8b5">
    <div>
        <a><h4 href="https://portal.etsit.upm.es/estudiantes" style="color:#FFFF;">Portal Estudiantes</h4></a>
        <a href="/progdoc/logout">Cerrar Sesion</a>
    </div>
    <hr>
    <div>
        <a><h4 style="color:#FFFF;">Aplicaciones Federadas</h4></a>
    </div>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="https://appsrv.etsit.upm.es/ofic-inter">Oficina Internacional</a>
    <a href="https://appsrv.etsit.upm.es/ofic-inter-contact">InterContacta</a>
    <a href="https://appsrv.etsit.upm.es/docencia/tft">Aplicacion TFT</a>
    <a href="https://appsrv.etsit.upm.es/practicas/home.htm">Aplicación Prácticas</a>
    <hr>
    <div>
        <a><h4 style="color:#FFFF;">+ Aplicaciones</h4></a>
    </div>
    <div>
        <a href="http://www.etsit.upm.es/escuela/unidades-administrativas-y-servicios/incidencias-caus.html">CAUs</a>
        <a href="http://www.etsit.upm.es/footer-columnas4/personal/politecnica-virtual.html">Politécnica Virtual</a>
        <a href="https://webmail.etsit.upm.es/rc/v2/">Webmail</a>
        <a href="https://moodle.upm.es/">Moodle Upm</a>
    </div>

</div>

<span class="open-6659b527b8d152af596e174303b316a7" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>    

