<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"> 
  <!-- Despliegue -->
  <link rel='stylesheet' type="text/css" href='./stylesheets/style.css' />
  <link rel='stylesheet' type="text/css" href='./stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <title>Portal del Estudiante</title>
</head>
<body>	
        <% if(contextPruebas === true){ %>
        <script src="https://pruebas.etsit.upm.es/estudiantes/static-button"></script>
        <div id="banner" class="row">
          <div class="col-sm-3" >
              <br>
              <a href="http://www.upm.es/"><img src="./images/logo-upm.gif" width="70"></a>
              <a href="http://www.etsit.upm.es/"><img src="./images/logo-etsit.gif" width="150"></a>
          </div>
          <div class="col-sm-8" >
              <h3 id="title-portal-1">Gestion del Parking de Estudiantes - En Desarrollo</h3>
              <h4 id="title-portal-2"> <a id ="etsit" href="http://www.etsit.upm.es/">Escuela Técnica Superior de Ingenieros de Telecomunicaciones</a> de la <a id="upm" href="http://www.upm.es/"> Universidad Politécnica de Madrid</a> </h4>
          </div>
          <div id ="gestionAplicaciones"class="col-sm-1">

          </div>
        </div>
        <% } else {%>
        <script src="https://portal.etsit.upm.es/estudiantes/static-button"></script>
        <div id="main-header" class="row">
          <div class="col-sm-3" >
              <br>
              <a href="http://www.upm.es/"><img src="./images/logo-upm.gif" width="70"></a>
              <a href="http://www.etsit.upm.es/"><img src="./images/logo-etsit.gif" width="150"></a>
          </div>
          <div class="col-sm-8" >
              <h3 id="title-portal-1">Gestion del Parking de Estudiantes </h3>
              <h4 id="title-portal-2"> <a id ="etsit" href="http://www.etsit.upm.es/">Escuela Técnica Superior de Ingenieros de Telecomunicaciones</a> de la <a id="upm" href="http://www.upm.es/"> Universidad Politécnica de Madrid</a> </h4>
          </div>
          <div id ="gestionAplicaciones"class="col-sm-1">

          </div>
        </div>
        <% } %>
        <div class="portal-texto">
          <h2>Bienvenido</h2>
            <p>Para poder utilizar el aparcamiento de la ETSIT-UPM es necesario estar dado de alta en la base de datos del sistema. </p>

                <h5><a href="https://appsrv.etsit.upm.es/parking/index.php">Dar de alta / modificar matrículas de coches </a></h5>
          
            <p>Para que el sistema lea la matrícula correctamente y se abra la barrera (siempre que la matrícula esté dada de alta en la base de datos),
             es necesario situar el coche correctamente en la posición de entrada.  </p> 

             <h5><a href="/estudiantes/parking/pdf/instrucciones-parking.pdf">Instrucciones del parking</a><h5>
          
        </div>
        <div class="imagen-portada row">
          <div class="col-sm-8"><img src="./images/logo-parking.png"></div>
        </div>
</body>
<script>
$(document).ready(function(){
    dibujarmenulateral("gestionAplicaciones","/estudiantes/ofic-inter-contact/logout");
});
</script>
</html>
