<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8"> 
  <!-- Despliegue -->
  <link rel='stylesheet' type="text/css" href='./stylesheets/style.css' />
  <link rel='stylesheet' type="text/css" href='./stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  <title>Portal del PAS</title>
</head>
<body>
      <% let desarrallo = false; %>
      <% if(desarrallo === true){ %>
        <div id="banner" class="row">
          <div class="col-sm-12" ></div>
           <h3 id="titulo-banner">Portal en Desarrollo</h3>
        </div> 
      <% } %>
      <div id="main-header" class="row">
        <div class="col-sm-2" >
            <br>
            <a href="http://www.upm.es/"><img src="./images/logo-upm.gif" width="70"></a>
            <a href="http://www.etsit.upm.es/"><img src="./images/logo-etsit.gif" width="70"></a>
        </div>
        <div class="col-sm-9" >
            <h3 id="title-portal-1">Portal del PAS</h3>
            <h4 id="title-portal-2"> <a id ="etsit" href="http://www.etsit.upm.es/">Escuela Técnica Superior de Ingenieros de Telecomunicaciones</a> de la <a id="upm" href="http://www.upm.es/"> Universidad Politécnica de Madrid</a> </h4>
        </div>
        <div id ="gestionAplicaciones"class="col-sm-1">
        <% include gestionAplicaciones-PAS.ejs %> 
        </div>
      </div>
      <div class="portal-texto">
      <h2>Bienvenido</h2>
        <p>Desde este portal podras acceder a las diferentes aplicaciones para el PAS</p>
        
        <p>El boton de acceso de las aplicaciones es &#9776; , desde ahi podra acceder a las aplicaciones del PAS</p>
      </div>
      <div class="row">
        <div class="col-sm-12"><img src="./images/portada-escuela.jpg"></div>
      </div>
      
      
</body>
</html>

