<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">

</script>
<table id="myTablePAS" cellspacing="0" cellpadding="0">
    <th>
        <tr>
            <td> Nombre</td>
            <td> Url</td>
            <td> Seccion</td>
            <td> Estado</td>
            <td></td>
        </tr>
    </th>
    <tr>
        <td><input type="text" class="fname" /></td>
        <td><input type="text" class="fname" /></td>
        <td><input type="text" class="fname" /></td>
        <td><input type="text" class="fname" /></td>
        <td>
            <input type="button" value="Delete" />
        </td>
    </tr>
</table>
<p>
    <input type="button" value="Insert row">
</p>

<script>
$('#myTablePAS').on('click', 'input[type="button"]', function () {
    $(this).closest('tr').remove();
})
$('p input[type="button"]').click(function () {
    $('#myTablePAS').append('<tr><td><input type="text" class="fname" /></td><td><input type="text" class="fname" /></td><td><input type="text" class="fname" /></td><td><input type="text" class="fname" /></td><td><input type="button" value="Delete" /></td></tr>')
});
</script>