body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#banner{
  background-color: #FF0000;
  margin-bottom: 10px;
}

#titulo-banner{
  text-align: center;
}

#main-header {
  background-color:#4664A2;
}
#gestionAplicaciones{
  color:#FFFF;
}
#title-portal-1 {
  color:#FFFF;
}
#title-portal-2{
  color:#FFFF;
}
#etsit{
  color:#FFFF;
}
#upm{
  color:#FFFF;
}